<h1>Menu</h1>

  <div class="contenedor-imagen-menu responsive-img col s12">
    <div class="row">
      {{#each data as  |platillo|}}
      <div class="column">
        <div class="col s12 m6">
          <div class="card medium">
            <div class="card-image">
              <img
                src="{{photo}}" alt="{{nombre}}">
              <span class="card-title green-text  .textUpCard">{{nombre}}</span>
            </div>
            <div class="card-content">
              <p>{{descripcion}}</p>
              <p>Costo: $ {{costo}}</p>
              <p>Cantidad: {{cantidad}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div>
    <form action="/crearOrden" method="POST">
    <h3>Ingresa una orden</h3>
    <div class="input-field col s12">
      <select class="browser-default" name="platillo" >
        <option value="">Selecciona un platillo</option>
        {{#each data}}
          <option value="{{_id}}">{{nombre}}</option>
        {{/each}}
      </select>
    </div>
    <input type="number" name="cantidad" placeholder="#-cantidad">
    <input type="number" name="mesa" placeholder="No. mesa">
    <button>Ordenar</button>
    </form>
  </div>
