Menu
{{#each data as  |platillo|}}
  <div>
    <img src="{{photo}}" alt="{{nombre}}">
    <h4>{{nombre}}</h4>
    <p>{{descripcion}}</p>
    <p>Costo: {{costo}}</p>
    <p>Cantidad: {{cantidad}}</p>
  </div>
{{/each}}