<h1>Menu</h1>
  <div class="contenedor-imagen-menu responsive-img col s12">
    {{#each data as  |platillo|}}
    <div class="row">
      <div class="column">
        <div class="col s12 m6">
          <div class="card medium">
            <div class="card-image">
               <img src="{{photo}}" alt="{{nombre}}"> 
               <span class="card-title"> <h4>{{nombre}}</h4></span>
            </div>
            <div class="card-content">
              <p>{{descripcion}}</p>
              
            </div>

            <div class="card-action">
              <p>Costo: {{costo}}</p>
              <p>Cantidad: {{cantidad}}</p>
            </div>
          </div>
        </div>
      </div>

    {{/each}}

  </div>