
  <nav>

    <div class="nav-wrapper color-nav   deep-orange darken-1">
      <a href="/" class="brand-logo center"><img width="100px" src="/images/logo.png" alt="logo"></a>
      <ul class="left hide-on-med-and-down sidenav sidenav-fixed" id="slide-out" >
        <li class=""><a href="/menu">Menu</a></li>
        <li> <a href="/admin"> Perfil Gerente </a> </li>
        <li class=""><a href="/inventario">Inventario</a></li>
        <li class=""><a href="/statuspedido">Estatus</a></li>
        <li> <a href="/logout">Logout</a></li>
      </ul>
    </div>

  </nav> 



  <div class="contenedor menu-color">
    <div class="row ">
      {{#each data as  |platillo|}}
      <div class="column ">
        <div class="col s12 m6">
          <div class="card medium">
            <div class="card-image">
              <img class="responsive-img"
                src="{{photo}}" alt="{{nombre}}">
              <span class="card-title black-text lista-inventario-2">{{nombre}}</span>
            </div>
            <div class="card-content ">
              <p>{{descripcion}}</p>
              
            </div>
            <div class="card-action">
              <p>Costo: {{costo}}</p>
              <p>Cantidad: {{cantidad}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
 <div class="contenedor-imagen-menu-comida responsive-img col s12 m1">
 <form id="form-index" action="/crearOrden" method="POST">
    <h3>Ingresa una orden</h3>
      <div class="input-field col s12">
      <select class="browser-default" name="platillo" >
        <option value="">Selecciona un platillo</option>
        {{#each data}}
          <option value="{{_id}}">{{nombre}}</option>
       
        {{/each}}
      </select>
    </div>
    <div class='row login'>
    <div class='input-field col s12'>
         <div class='row login'>
          <div class='input-field col s12'>
            <input type="number" name="cantidad" placeholder="#-cantidad" min="1" max="39">
            <label class="black-text" >Porciones </label>
          </div>
        </div>
        <div class='row login'>
          <div class='input-field col s12'>
            <input type="number" name="mesa" placeholder="No. mesa" min="1" max="15">
            <label class="black-text" > Mesa </label>
          </div>
        </div>
    </div>
    </div>

    <button class="deep-orange darken-1 waves-effect waves-light btn-large">Ordenar</button>

</form>

</div>

