<nav class="blue">
      <div class="nav-wrapper">
        <a class="brand-logo">Iron-Restaurant </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/menu"> Ir a Menu</a></li>
          <li><a href="/inventario">Crear un Platillo</a></li>
          <li><a href="/statuspedido">Ordenes</a></li>
        </ul>
      </div>
  </nav>
<div class=" col s12">

  <div class="contenedor-imagen-menu responsive-img col s12">


        <ul class="collection with-header black-text">
        <li class="collection-header "><h4>Estado de los Platillos</h4></li>
        {{#each data as  | platillo|}}  
        <li class="collection-item black-text"><div>{{nombre}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {{/each}}
        </ul>
 

    
    {{!-- {{#each data as  | pedido |}}
    <div class="row">
      <div class="column">
        <div class="col s12 m6">
          <div class="card medium">
            <div class="card-image">
               <img src="{{photo}}" alt="{{nombre}}"> 
               <span class="card-title"> <h4>{{nombre}}</h4></span>
            </div>
            <div class="card-content">
              <p>{{descripcion}}</p>
            </div>

            <div class="card-action">
              <p>Costo: {{costo}}</p>
              <p>Cantidad: {{cantidad}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div> --}}