  <nav>
    <div class="nav-wrapper deep-orange darken-1">
      <a href="/" class="brand-logo center"><img width="100px" src="/images/logo.png" alt="logo"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/menu">Menu</a></li>
        <li><a href="/inventario">Inventario</a></li>
        <li><a href="/statuspedido">Estatus</a></li>
      </ul>
    </div>
  </nav>


  <div class="contenedor-imagen-menu responsive-img col s12">
    <div class="row">
      {{#each ordenesStatus}}
      <div class="column">
        <div class="col s12 m6">
          <div class="card medium">
            <div class="card-image">
              <img
                src="{{idPlatillo.photo}}" alt="{{nombre}}">
              <span class="card-title green-text  .textUpCard">{{nombre}}</span>
            </div>
            <div class="card-content">
              <p>Nombre{{idPlatillo.nombre}}</p>
              <p>Mesero: {{idMesero.username}}</p>
              <p>Mesa: {{mesa}}</p>
              <p>Cantidad: {{cantidad}}</p>
            </div>
            <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Selecciona el Estatus</option>
              <option value="1">Pendiente</option>
              <option value="2">Terminado</option>
              </select>
            <label>Estatus de orden</label>
            </div>

            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div>
    
